<p id="notice"><%= notice %></p>

<p>
  <strong>Spree user:</strong>
  <%= @lifestyle.spree_user_id %>
</p>

<p>
  <strong>Work:</strong>
  <%= @lifestyle.work_id %>
</p>

<p>
  <strong>Physical:</strong>
  <%= @lifestyle.physical_id %>
</p>

<p>
  <strong>Phsyical days:</strong>
  <%= @lifestyle.phsyical_days %>
</p>

<p>
  <strong>Student:</strong>
  <%= @lifestyle.student %>
</p>

<p>
  <strong>Student days:</strong>
  <%= @lifestyle.student_days %>
</p>

<p>
  <strong>Social:</strong>
  <%= @lifestyle.social %>
</p>

<p>
  <strong>Social days:</strong>
  <%= @lifestyle.social_days %>
</p>

<%= link_to 'Edit', edit_lifestyle_path(@lifestyle) %> |
<%= link_to 'Back', lifestyles_path %>
